body{
    background-color: rgb(248, 248, 248);
    padding: 0;
    margin: 0;
}
/* Navigation tab */
.main-nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: purple;
    color: lightgray;
    
}

/* 
========================
      BUTTON ONE
========================
*/

/*

div[class*=box] {
	height: 33.33%;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
*/
.btn {
	line-height: 50px;
	height: 50px;
	/*text-align: center;*/
	width: 250px;
	cursor: pointer;
    padding-left: 16px;
    padding-right: 10px;
    
}

a:link {
    text-decoration: none;
}


.btn-one {
	color:  rgb(74, 83, 153);
	transition: all 0.3s;
	position: relative;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 80;
    
}
.btn-one span {
	transition: all 0.3s;
    color: rgb(74, 83, 153);
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
    border-bottom-style: solid;
	border-top-color:  rgb(74, 83, 153);
	border-bottom-color:   rgb(74, 83, 153);
	transform: scale(0.1, 1);
   
}
.btn-one:hover span {
	letter-spacing: 2px;
  

}   
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}


.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 57%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	opacity: 10%;
    background-color:rgb(65, 78, 113);
    border-radius: 10%;
     
    
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}




/* 
========================
      BUTTON ONE
========================
*/


.logo{
    font-size: 26px;
    margin: 0.9rem;
    font-family: 'Inter Tight', sans-serif; 
    color: white;
    
}

.main-nav a{
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Inter Tight', sans-serif; 
    font-size: 13px;
   
}

.main-nav ul{
    margin:0;
    padding: 0; 
    display: flex;
}

.main-nav li {
    list-style: none;
}

.main-nav a:hover{
    background-color: antiquewhite;
    }

    /* first image */

    .img{
        
        background-image: url(img/gradient2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 30rem;
        display:flex;
        align-items: flex-end;

    }

    .hero-text{
        padding-bottom: 100px;
        width: 30%;
        padding-left: 50px;
        color: white;
        
    }

.page-container{
    padding-left: 3rem; 
    padding-right: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.page-container h1{
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 1.2px;
}

.feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
    border-radius: 5px;
}

.feature-image-column{
    grid-column: 1/2;
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    border-radius: 5px; 
  

   
}
.feature-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;

}
.feature-text-column{
    grid-column: 2;
}

.feature-text-column h3{
    font-family: 'Inter Tight', sans-serif;

}

.feature-text-column p{
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
}


.hero-text
{
    font-family: 'Montserrat', sans-serif;
}

.large-image-container{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    width: 100%;
}

.large-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;
}

.contact{
    width: 45%;
    padding-bottom: 11rem;
}

.contact h1{
    font-family: 'Inter Tight', sans-serif;
}

.contact p{
    font-family: 'Inter Tight', sans-serif;
}

/*ABOUT*/



.feature-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    height: 20rem;
}

.feature-image-column-about{
    grid-column: 1/2;
    grid-row: 1/4;
    position: relative;
    height: 11rem;
    padding-bottom: 56.25%;

   
}
.feature-image-about{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;

}
.feature-text-column-about{
    grid-column: 2/3;
    grid-row: 1/3;
    font-family: 'Montserrat', sans-serif;

}

.feature-text-column-about h1{
    font-family: 'Montserrat', sans-serif;

}

.feature-text-column-about h3{
    font-family: 'Inter Tight', sans-serif;

}

.feature-text-column-about p{
    font-family: 'Inter Tight', sans-serif;
}

.contact-about{
    width: 35%;
    padding-bottom: 11rem;
    padding-top: 26rem;
}


.contact-about h1{
    font-family: 'Inter Tight', sans-serif;
}

.contact-about p{
    font-family: 'Inter Tight', sans-serif;
}


/*RESUME */

.feature-resume{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    border: solid black 0.5px;
    border-radius: 0.7rem;
}


.feature-text-column-resume h1{
    font-family: 'Montserratt', sans-serif;
}

.feature-text-column-resume-right{
    grid-column: 2/3;
    grid-row: 1/3;
    font-family: 'Montserrat', sans-serif;

}

.feature-text-column-resume-left{
    text-align: end;
    font-family: 'Montserrat', sans-serif;
}

/*SOLAR PUNK */

.img-3d{
        
    background-image: url(img/HomePageMaterial/SolarInteriorFINAL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40rem;
    display:flex;
    align-items: flex-end;

}

.hero-text{
    padding-bottom: 100px;
    width: 30%;
    padding-left: 65px;
    color: rgb(255, 255, 255);
    
}


.feature-concept-text-column{

    grid-column: 1;
    
}



.large-solar-container{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    margin-top: 20rem;
    width: 100%;

}


.feature-concept{
    display:grid;
    grid-template-columns: 1fr;
}


.page-container-3d{
    padding-left: 3rem; 
    padding-right: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}



.feature-process{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem;
}

.feature-image-left{
    grid-column: 1;
    grid-gap: 3.5rem;
}


.feature-image-right{
grid-column: 2;

}

.feature-concept-text-column{
    text-align: center
    ;
}

.feature-process-column{
    text-align: center;
}

/* WEBB/UX/UI*/

.feature-webb{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.feature-image-column-webb{
grid-column: 2/3;
position: relative;
height: 0px;
padding-bottom: 56.25%;
border-radius: 5px;
}

.feature-text-column-webb{
    grid-column: 1;
    grid-row: 1;
}


.feature-image-webb{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;

}

.feature-text-column-webb h3{
    font-family: 'Inter Tight', sans-serif;
}

.feature-text-column-webb p
{
    font-family: 'Montserrat', sans-serif;
}

.feature-text-column-webb-right p {
    font-family: 'Montserrat', sans-serif;
}

/* NFT Landing page */ 

.feature-webb-nft{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.feature-image-column-webb-nft{
    grid-column: 2/3;
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    border-radius: 5px;
    }
    
    .feature-text-column-webb-nft{
        grid-column: 1;
        grid-row: 1;
    }
    
    
    .feature-image-nft{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        object-fit: cover;
    
    }
    